@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: -0.9px;
}
.display-1 > .mbr-iconfont {
  font-size: 4rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.9px;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  line-height: 1.867;
}
.display-4 > .mbr-iconfont {
  font-size: 1.0625rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.1;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.56rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.24rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.68rem;
    font-size: calc( 0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.9475rem + (0.85 - 0.9475) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 11px 35px;
  border-radius: 3px;
}
.btn-sm {
  padding: 15px 35px;
  border-radius: 3px;
}
.btn-md {
  padding: 18px 50px;
  border-radius: 3px;
}
.btn-lg {
  padding: 19px 50px;
  border-radius: 3px;
}
.bg-primary {
  background-color: #57b22a !important;
}
.bg-success {
  background-color: #4289a7 !important;
}
.bg-info {
  background-color: #e96188 !important;
}
.bg-warning {
  background-color: #fac769 !important;
}
.bg-danger {
  background-color: #b2ccd2 !important;
}
.btn-primary {
  box-shadow: 0 15px 30px 0 rgba(87, 178, 42, 0.15);
}
.btn-primary,
.btn-primary:active {
  background-color: #57b22a !important;
  border-color: #57b22a !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #438920 !important;
  border-color: #438920 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #438920 !important;
  border-color: #438920 !important;
}
.btn-primary:before {
  background: #57b22a;
}
.btn-primary:hover {
  color: #ffffff !important;
  border-color: #57b22a !important;
  box-shadow: 0 15px 30px 0 rgba(87, 178, 42, 0.15);
}
.btn-secondary {
  box-shadow: 0 15px 30px 0 rgba(202, 67, 54, 0.15);
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a2352b !important;
  border-color: #a2352b !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a2352b !important;
  border-color: #a2352b !important;
}
.btn-secondary:before {
  background: #ca4336;
}
.btn-secondary:hover {
  color: #ffffff !important;
  border-color: #ca4336 !important;
  box-shadow: 0 15px 30px 0 rgba(202, 67, 54, 0.15);
}
.btn-info {
  box-shadow: 0 15px 30px 0 rgba(233, 97, 136, 0.15);
}
.btn-info,
.btn-info:active {
  background-color: #e96188 !important;
  border-color: #e96188 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #e33466 !important;
  border-color: #e33466 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e33466 !important;
  border-color: #e33466 !important;
}
.btn-info:before {
  background: #e96188;
}
.btn-info:hover {
  color: #ffffff !important;
  border-color: #e96188 !important;
  box-shadow: 0 15px 30px 0 rgba(233, 97, 136, 0.15);
}
.btn-success {
  box-shadow: 0 15px 30px 0 rgba(66, 137, 167, 0.15);
}
.btn-success,
.btn-success:active {
  background-color: #4289a7 !important;
  border-color: #4289a7 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #346b82 !important;
  border-color: #346b82 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #346b82 !important;
  border-color: #346b82 !important;
}
.btn-success:before {
  background: #4289a7;
}
.btn-success:hover {
  color: #ffffff !important;
  border-color: #4289a7 !important;
  box-shadow: 0 15px 30px 0 rgba(66, 137, 167, 0.15);
}
.btn-warning {
  box-shadow: 0 15px 30px 0 rgba(250, 199, 105, 0.15);
}
.btn-warning,
.btn-warning:active {
  background-color: #fac769 !important;
  border-color: #fac769 !important;
  color: #614003 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #f8b538 !important;
  border-color: #f8b538 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614003 !important;
  background-color: #f8b538 !important;
  border-color: #f8b538 !important;
}
.btn-warning:before {
  background: #fac769;
}
.btn-warning:hover {
  color: #000000 !important;
  border-color: #fac769 !important;
  box-shadow: 0 15px 30px 0 rgba(250, 199, 105, 0.15);
}
.btn-danger {
  box-shadow: 0 15px 30px 0 rgba(178, 204, 210, 0.15);
}
.btn-danger,
.btn-danger:active {
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #92b7bf !important;
  border-color: #92b7bf !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #92b7bf !important;
  border-color: #92b7bf !important;
}
.btn-danger:before {
  background: #b2ccd2;
}
.btn-danger:hover {
  color: #000000 !important;
  border-color: #b2ccd2 !important;
  box-shadow: 0 15px 30px 0 rgba(178, 204, 210, 0.15);
}
.btn-white {
  color: #57b22a !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: 0 15px 30px 0 rgba(87, 178, 42, 0.15);
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #666666 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #e6e6e6 !important;
  border-color: #e6e6e6 !important;
}
.btn-white:before {
  background: #57b22a;
}
.btn-white:hover {
  color: #ffffff !important;
  border-color: #57b22a !important;
  background-color: #ffffff !important;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.15);
}
.btn-black {
  color: #ffffff !important;
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  box-shadow: 0 15px 30px 0 rgba(26, 26, 26, 0.15);
}
.btn-black,
.btn-black:active {
  background-color: #1a1a1a !important;
  border-color: #1a1a1a !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black:before {
  background: #4d4d4d;
}
.btn-black:hover {
  border-color: #4d4d4d !important;
  box-shadow: 0 15px 30px 0 rgba(26, 26, 26, 0.15);
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #57b22a;
  color: #57b22a;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background-color: #57b22a !important;
  border-color: #57b22a !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #57b22a !important;
  border-color: #57b22a !important;
}
.btn-primary-outline:before {
  background: #57b22a;
}
.btn-primary-outline:hover {
  color: #ffffff !important;
  background-color: transparent !important;
  box-shadow: 0 15px 30px 0 rgba(87, 178, 42, 0.15);
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ca4336;
  color: #ca4336;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
}
.btn-secondary-outline:before {
  background: #ca4336;
}
.btn-secondary-outline:hover {
  color: #ffffff !important;
  background-color: transparent !important;
  box-shadow: 0 15px 30px 0 rgba(202, 67, 54, 0.15);
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #e96188;
  color: #e96188;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-info-outline:before {
  background: #e96188;
}
.btn-info-outline:hover {
  color: #ffffff !important;
  background-color: transparent !important;
  box-shadow: 0 15px 30px 0 rgba(233, 97, 136, 0.15);
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #4289a7;
  color: #4289a7;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background-color: #4289a7 !important;
  border-color: #4289a7 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4289a7 !important;
  border-color: #4289a7 !important;
}
.btn-success-outline:before {
  background: #4289a7;
}
.btn-success-outline:hover {
  color: #ffffff !important;
  background-color: transparent !important;
  box-shadow: 0 15px 30px 0 rgba(66, 137, 167, 0.15);
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #fac769;
  color: #fac769;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #614003 !important;
  background-color: #fac769 !important;
  border-color: #fac769 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614003 !important;
  background-color: #fac769 !important;
  border-color: #fac769 !important;
}
.btn-warning-outline:before {
  background: #fac769;
}
.btn-warning-outline:hover {
  color: #000000 !important;
  background-color: transparent !important;
  box-shadow: 0 15px 30px 0 rgba(250, 199, 105, 0.15);
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #b2ccd2;
  color: #b2ccd2;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-danger-outline:before {
  background: #b2ccd2;
}
.btn-danger-outline:hover {
  color: #000000 !important;
  background-color: transparent !important;
  box-shadow: 0 15px 30px 0 rgba(178, 204, 210, 0.15);
}
.btn-black-outline {
  border-color: #1a1a1a !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #1a1a1a;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: transparent !important;
  box-shadow: 0 15px 30px 0 rgba(26, 26, 26, 0.15);
}
.btn-black-outline:before {
  background: #4d4d4d;
}
.btn-white-outline {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #57b22a !important;
  border-color: #ffffff !important;
  background-color: transparent !important;
  box-shadow: 0 15px 30px 0 rgba(255, 255, 255, 0.15);
}
.btn-white-outline:before {
  background: #ffffff;
}
.text-primary {
  color: #57b22a !important;
}
.text-secondary {
  color: #ca4336 !important;
}
.text-success {
  color: #4289a7 !important;
}
.text-info {
  color: #e96188 !important;
}
.text-warning {
  color: #fac769 !important;
}
.text-danger {
  color: #b2ccd2 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #1a1a1a !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #2f5f17 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #7a2820 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #254d5e !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #c81c4d !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #f5a208 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #72a1ac !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #cccccc !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
.nav-tabs .nav-link.active {
  color: #57b22a;
}
.nav-tabs .nav-link:not(.active) {
  color: #1a1a1a;
}
.alert-success {
  background-color: #40A50B;
}
.alert-info {
  background-color: #e96188;
}
.alert-warning {
  background-color: #fac769;
}
.alert-danger {
  background-color: #b2ccd2;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 45px;
}
.mbr-gallery-filter li a {
  border-radius: 45px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #57b22a;
  border-color: #57b22a;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 45px !important;
}
a,
a:hover {
  color: #57b22a;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #9de07c;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #94c1d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  line-height: 1.867;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.0625rem;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 0.85rem;
  line-height: 1.867;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.0625rem;
}
blockquote {
  border-color: #57b22a;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 45px !important;
}
.mbr-form .mbr-section-btn button[type="submit"] {
  border-radius: 45px !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #57b22a;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #57b22a;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #57b22a;
  border-bottom-color: #57b22a;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #57b22a !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ca4336 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2357b22a' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a.btn-white {
  color: #57b22a !important;
}
.mbr-arrow-up {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0px 10px 33.25px 1.75px rgba(0, 27, 103, 0.35);
}
.mbr-arrow-up a {
  background: rgba(87, 178, 42, 0.6);
}
.mbr-arrow-up a:hover {
  background: #57b22a;
}
.cid-qIuNheldqe .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qIuNheldqe .nav-item,
.cid-qIuNheldqe .nav-link,
.cid-qIuNheldqe .navbar-caption {
  font-weight: normal;
}
.cid-qIuNheldqe .nav-item:focus,
.cid-qIuNheldqe .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-qIuNheldqe .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
}
.cid-qIuNheldqe .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qIuNheldqe .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qIuNheldqe .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-qIuNheldqe .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-qIuNheldqe .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-qIuNheldqe .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-qIuNheldqe .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-qIuNheldqe .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-qIuNheldqe .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #fac769;
  background: none;
}
.cid-qIuNheldqe .navbar.opened {
  transition: all .3s;
  background: #fac769 !important;
}
.cid-qIuNheldqe .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-qIuNheldqe .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-qIuNheldqe .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-qIuNheldqe .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-qIuNheldqe .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-qIuNheldqe .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-qIuNheldqe .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-qIuNheldqe .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-qIuNheldqe .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-qIuNheldqe .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-qIuNheldqe .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-qIuNheldqe .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-qIuNheldqe .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-qIuNheldqe .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-qIuNheldqe .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-qIuNheldqe .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-qIuNheldqe .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-qIuNheldqe .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-qIuNheldqe .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-qIuNheldqe .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-qIuNheldqe .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-qIuNheldqe .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-qIuNheldqe .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-qIuNheldqe .navbar.navbar-short {
  background: #fac769 !important;
  min-height: 60px;
}
.cid-qIuNheldqe .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-qIuNheldqe .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-qIuNheldqe .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-qIuNheldqe .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-qIuNheldqe .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-qIuNheldqe .dropdown-item.active,
.cid-qIuNheldqe .dropdown-item:active {
  background-color: transparent;
}
.cid-qIuNheldqe .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-qIuNheldqe .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-qIuNheldqe .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-qIuNheldqe .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fac769;
}
.cid-qIuNheldqe .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-qIuNheldqe .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qIuNheldqe ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-qIuNheldqe .navbar-buttons {
  text-align: center;
}
.cid-qIuNheldqe button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-qIuNheldqe button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-qIuNheldqe button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qIuNheldqe button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qIuNheldqe button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qIuNheldqe button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qIuNheldqe nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qIuNheldqe nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qIuNheldqe nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qIuNheldqe nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qIuNheldqe .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-qIuNheldqe a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-qIuNheldqe .mbr-iconfont {
  font-size: 1rem;
  color: #66458e;
  display: inline-flex;
}
.cid-qIuNheldqe .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-qIuNheldqe .soc-item {
  margin: .5rem .3rem;
}
.cid-qIuNheldqe .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-qIuNheldqe .navbar {
    height: 77px;
  }
  .cid-qIuNheldqe .navbar.opened {
    height: auto;
  }
  .cid-qIuNheldqe .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rzBfcbdf3b {
  background-image: url("../../../assets/images/durian-fruit-exotic-182295-2560x1600-2000x1250.jpg");
}
.cid-rzBfcbdf3b .mbr-overlay {
  background: #000000;
}
.cid-rzBfcbdf3b .mbr-section-title {
  letter-spacing: -1px;
  color: #ffffff;
}
.cid-rzBfcbdf3b .mbr-section-subtitle {
  color: #ffffff;
}
.cid-qIjI4pKeSS {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-qIjI4pKeSS .mbr-text {
  color: #767676;
}
.cid-qIjI4pKeSS .mbr-section-subtitle {
  color: #767676;
}
.cid-qIjI4pKeSS .title {
  position: relative;
  display: flex;
  align-items: center;
}
.cid-qIjI4pKeSS .title .num {
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
  font-size: 3.5rem;
  width: 100%;
}
.cid-qIjI4pKeSS .title .card-title {
  z-index: 1;
  width: 100%;
}
.cid-qIjI4pKeSS .card-text {
  margin-top: 2rem;
  color: #051441;
}
.cid-qIjI4pKeSS .card-box {
  margin-bottom: 1rem;
}
.cid-qIjI4pKeSS .num {
  color: #fac769;
}
@media (max-width: 767px) {
  .cid-qIjI4pKeSS .num,
  .cid-qIjI4pKeSS .card-title,
  .cid-qIjI4pKeSS .mbr-text,
  .cid-qIjI4pKeSS .mbr-title,
  .cid-qIjI4pKeSS .mbr-section-subtitle,
  .cid-qIjI4pKeSS .mbr-section-btn,
  .cid-qIjI4pKeSS .mbr-section-title {
    text-align: center !important;
  }
  .cid-qIjI4pKeSS .content-column {
    margin-bottom: 2rem;
  }
}
.cid-qIjI4pKeSS .mbr-section-title {
  text-align: center;
  color: #57b22a;
}
.cid-qIjI4pKeSS .card-title,
.cid-qIjI4pKeSS .card-img {
  color: #57b22a;
}
.cid-qIjMfqP1Ii {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #fac769;
}
.cid-qIjMfqP1Ii .mbr-section-subtitle {
  color: #767676;
}
.cid-qIjMfqP1Ii .mbr-section-title {
  color: #ffffff;
}
.cid-qIjES4e5vV {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-qIjES4e5vV .card {
  display: flex;
  position: relative;
  justify-content: center;
}
.cid-qIjES4e5vV .card .card-wrapper {
  background: #fac769;
  height: 1%;
}
.cid-qIjES4e5vV .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-qIjES4e5vV .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-qIjES4e5vV .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #ffb51c;
}
.cid-qIjES4e5vV .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-qIjES4e5vV .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-qIjES4e5vV .mbr-card-text {
  color: #ffffff;
  margin: 0;
}
.cid-qIjES4e5vV .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qIjES4e5vV .img-text {
  color: #ffffff;
}
.cid-qIjES4e5vV .mbr-card-text,
.cid-qIjES4e5vV .mbr-section-btn {
  color: #ffffff;
}
.cid-qIjES4e5vV .mbr-section-title {
  color: #57b22a;
}
.cid-sx5hT7q1Nx {
  padding-top: 0px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sx5hT7q1Nx .card {
  display: flex;
  position: relative;
  justify-content: center;
}
.cid-sx5hT7q1Nx .card .card-wrapper {
  background: #fac769;
  height: 1%;
}
.cid-sx5hT7q1Nx .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-sx5hT7q1Nx .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-sx5hT7q1Nx .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #57b22a;
}
.cid-sx5hT7q1Nx .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-sx5hT7q1Nx .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-sx5hT7q1Nx .mbr-card-text {
  color: #ffffff;
  margin: 0;
}
.cid-sx5hT7q1Nx .mbr-section-btn {
  padding-top: 1rem;
}
.cid-sx5hT7q1Nx .img-text {
  color: #ffffff;
}
.cid-sx5hT7q1Nx .mbr-card-text,
.cid-sx5hT7q1Nx .mbr-section-btn {
  color: #ffffff;
}
.cid-sx5hT7q1Nx .mbr-title {
  color: #ffffff;
}
.cid-sxTwqZR2Ae {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-sxTwqZR2Ae .counter-container {
  color: #464646;
}
.cid-sxTwqZR2Ae .counter-container div {
  margin-bottom: 1rem;
  padding-left: 5rem;
}
.cid-sxTwqZR2Ae .counter-container li {
  list-style: none;
  padding-left: 6rem;
  position: relative;
}
.cid-sxTwqZR2Ae .counter-container .counter {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  font-size: 40px;
  position: absolute;
  left: 0;
  display: inline-block;
  margin: 0 0 5px;
  line-height: 40px;
  transition: all .2s;
  width: 60px;
  height: 40px;
}
.cid-qIjGVVeB7i {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fac769;
}
.cid-qIjGVVeB7i .mbr-section-subtitle {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-qIjGVVeB7i .mbr-section-btn,
  .cid-qIjGVVeB7i .mbr-section-subtitle,
  .cid-qIjGVVeB7i .mbr-section-title {
    text-align: center !important;
  }
}
.cid-sx5kEhbgBK {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #051441;
}
.cid-sx5kEhbgBK .line {
  height: .8px;
  background: #ffffff;
  opacity: .05;
  margin-bottom: 25px;
}
.cid-sx5kEhbgBK .mbr-text {
  padding-top: 10px;
  margin-bottom: 0;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: .6;
  color: #ffffff;
}
.cid-sx5kEhbgBK .mbr-text:hover {
  opacity: 1;
}
.cid-sx5kEhbgBK a.text-white {
  color: #a99fc5 !important;
}
.cid-sx5kEhbgBK a.text-white:hover {
  color: #ffffff !important;
}
.cid-sx5kEhbgBK .foot-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-sx5kEhbgBK .foot-menu li {
  padding: 10px;
}
.cid-sx5kEhbgBK .foot-menu a {
  display: inline-block;
  line-height: 1.87;
  position: relative;
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.cid-sx5kEhbgBK .foot-menu a:before {
  width: 0;
  left: auto;
  right: 0;
  bottom: 5px;
  height: 1px;
  content: "";
  position: absolute;
  transition: width 0.2s linear;
  background: #ffffff;
}
.cid-sx5kEhbgBK .foot-menu a:hover::before {
  left: 0;
  width: 100%;
  right: auto;
}
.cid-sx5kEhbgBK .social-list {
  padding: 10px;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-sx5kEhbgBK .social-list .mbr-iconfont-social {
  font-size: 1rem;
  color: #ffffff;
}
.cid-sx5kEhbgBK .social-list .soc-item {
  overflow: hidden;
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;
}
.cid-sx5kEhbgBK .social-list a {
  padding: 8px;
  line-height: 1;
  opacity: .5;
}
.cid-sx5kEhbgBK .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-sx5kEhbgBK .foot-menu {
    margin-top: 10px;
    justify-content: center;
  }
  .cid-sx5kEhbgBK .mbr-text {
    text-align: center;
    margin-bottom: 1rem;
  }
}
